<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>QuyTuThienVanTinh</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>Controller</welcome-file>
  </welcome-file-list>
  <resource-ref>
    <description>Oracle Datasource example</description>
    <res-ref-name>jdbc/DonationDB</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <servlet>
    <description></description>
    <display-name>DataSource</display-name>
    <servlet-name>DataSource</servlet-name>
    <servlet-class>connect.DataSource</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DataSource</servlet-name>
    <url-pattern>/DataSource</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Controller</display-name>
    <servlet-name>Controller</servlet-name>
    <servlet-class>controller.Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Controller</servlet-name>
    <url-pattern>/Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminForm</display-name>
    <servlet-name>AdminForm</servlet-name>
    <servlet-class>controller.AdminForm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminForm</servlet-name>
    <url-pattern>/AdminForm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Save1DonationRoundDAO</display-name>
    <servlet-name>Save1DonationRoundDAO</servlet-name>
    <servlet-class>dao.Save1DonationRoundDAO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Save1DonationRoundDAO</servlet-name>
    <url-pattern>/Save1DonationRoundDAO</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryAtAdminFormEdit</display-name>
    <servlet-name>QueryAtAdminFormEdit</servlet-name>
    <servlet-class>controller.QueryAtAdminFormEdit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryAtAdminFormEdit</servlet-name>
    <url-pattern>/QueryAtAdminFormEdit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryAtAdminFormCreate</display-name>
    <servlet-name>QueryAtAdminFormCreate</servlet-name>
    <servlet-class>controller.QueryAtAdminFormCreate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryAtAdminFormCreate</servlet-name>
    <url-pattern>/QueryAtAdminFormCreate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryAtAdminForm</display-name>
    <servlet-name>QueryAtAdminForm</servlet-name>
    <servlet-class>controller.QueryAtAdminForm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryAtAdminForm</servlet-name>
    <url-pattern>/QueryAtAdminForm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryAtAdminUser</display-name>
    <servlet-name>QueryAtAdminUser</servlet-name>
    <servlet-class>controller.QueryAtAdminUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryAtAdminUser</servlet-name>
    <url-pattern>/QueryAtAdminUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>test</display-name>
    <servlet-name>test</servlet-name>
    <servlet-class>model.test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>test</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>t</display-name>
    <servlet-name>t</servlet-name>
    <servlet-class>controller.t</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>t</servlet-name>
    <url-pattern>/t</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Test1</display-name>
    <servlet-name>Test1</servlet-name>
    <servlet-class>controller.Test1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test1</servlet-name>
    <url-pattern>/Test1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RandomString</display-name>
    <servlet-name>RandomString</servlet-name>
    <servlet-class>model.RandomString</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RandomString</servlet-name>
    <url-pattern>/RandomString</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Test</display-name>
    <servlet-name>Test</servlet-name>
    <servlet-class>controller.Test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test</servlet-name>
    <url-pattern>/Test</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryAtUser</display-name>
    <servlet-name>QueryAtUser</servlet-name>
    <servlet-class>controller.QueryAtUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryAtUser</servlet-name>
    <url-pattern>/QueryAtUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AuthorizePaymentServlet</display-name>
    <servlet-name>AuthorizePaymentServlet</servlet-name>
    <servlet-class>paypalcontroller.AuthorizePaymentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthorizePaymentServlet</servlet-name>
    <url-pattern>/AuthorizePaymentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReviewPaymentServlet</display-name>
    <servlet-name>ReviewPaymentServlet</servlet-name>
    <servlet-class>paypalcontroller.ReviewPaymentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReviewPaymentServlet</servlet-name>
    <url-pattern>/ReviewPaymentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExecutePaymentServlet</display-name>
    <servlet-name>ExecutePaymentServlet</servlet-name>
    <servlet-class>paypalcontroller.ExecutePaymentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExecutePaymentServlet</servlet-name>
    <url-pattern>/ExecutePaymentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryAtAdminDonor</display-name>
    <servlet-name>QueryAtAdminDonor</servlet-name>
    <servlet-class>controller.QueryAtAdminDonor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryAtAdminDonor</servlet-name>
    <url-pattern>/QueryAtAdminDonor</url-pattern>
  </servlet-mapping>
</web-app>